body {
  margin: 0;
  background-color: #1d3557;
}

/* nav#nav-bar {
  height: 70px;
  width: 100%;
  background-color: grey;
  position: relative;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
/* #636f60 */
nav {
  background-color: #457b9d;
  width: 330px;
  height: 100vh;
  border-radius: 5px;
  position: fixed;
}

li {
  float: left;
  font-size: 1.4em;
  padding-left: 20px;
  background-color: #f1faee;
  padding: 4px 10px;
}

li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 8px;
  /* border-right: 1px solid rgba(241, 250, 238, 0.5); */
}

li a:hover {
  background-color: rgba(241, 250, 238, 0.88);
}

main#content {
  width: 325px;
  height: 100vh;
  background-color: grey;
  position: fixed;
  top: 55px;
  background-color: #f1faee;
}

main#content table thead {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 20px;
}
